<section *ngIf="invitationData$ | async as row"
         class="invitation__data">
  <div class="mb-4">
    <kb-breadcrumb [data]="breadcrumb"></kb-breadcrumb>
  </div>

  <div class="d-flex mb-4">
    <div>
      <h5>{{ label }}</h5>
      <div>{{ row.name }}</div>
    </div>
  </div>

  <div>
    <ng-container *ngIf="invitationFeatureIsLoadingList$ | async">
      <div *ngFor="let width of [70,50,80,90,30]">
        <ngx-skeleton-loader [theme]="{
            'width.%': width,
            'height.px': 20,
            'margin-top.px': 5,
            'margin-bottom.px': 0,
            'background-color': '#E3E7ED'
          }"></ngx-skeleton-loader>
      </div>
    </ng-container>

    <ng-container *ngIf="!(invitationFeatureIsLoadingList$ | async)">
      <ng-container *ngIf="(invitationFeatureData$ | async)!.length > 0">

        <form [formGroup]="myForm"
              (keydown.enter)="$event.stopPropagation()"
              class="form">
          <kb-form-invitation-data [code]="row.code"
                                   [dataBase]="datas"
                                   [formGroup]="myForm"
                                   [isAddMode]="true"
                                   (emitDynamicColumnAdd)="addDynamicColumn($event)"
                                   (emitDynamicColumnDelete)="deleteDynamicColumn($event)"></kb-form-invitation-data>
        </form>

      </ng-container>
    </ng-container>
  </div>
</section>