.invitation__data {
  .accordion-button:focus {
    box-shadow: unset;
  }

  .accordion-button:not(.collapsed) {
    color: var(--bs-green-700);
    background-color: transparent;
    box-shadow: unset;
  }
}
