.public__footer {
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  text-align: center;
  font-family: Lato;
  font-size: 12px;
  line-height: 19px;
  color: var(--bs-gray-700);
}
