<ngx-loading [show]="(themeFeatureIsLoadingUpdate$ | async) || false"></ngx-loading>

<section class="theme__feature__edit">
  <div class="mb-4">
    <kb-breadcrumb [data]="breadcrumb"></kb-breadcrumb>
  </div>

  <div class="d-flex mb-4">
    <h5>{{ label }}</h5>
  </div>

  <div class="card border-0 mb-5">
    <div class="card-body p-4">
      <form [formGroup]="myForm"
            (ngSubmit)="onSubmit()"
            (keydown.enter)="$event.stopPropagation()"
            class="form">
        <kb-form-theme-feature-add-edit [formGroup]="myForm"
                                        [isAddMode]="false"
                                        (emitThemeFeatureAdd)="addThemeFeature()"
                                        (emitThemeFeatureDelete)="deleteThemeFeature($event)">
        </kb-form-theme-feature-add-edit>
      </form>
    </div>
  </div>
</section>