<section *ngIf="invitationGuestBookData$ | async as row"
         class="invitation__guest__book__detail">
  <div class="mb-4">
    <kb-breadcrumb [data]="breadcrumb"></kb-breadcrumb>
  </div>

  <div class="d-flex mb-4">
    <div>
      <h5>{{ label }}</h5>
    </div>
    <div class="ms-auto">
      <div class="d-flex">
        <a role="button"
           class="btn btn-green-700"
           [routerLink]="['/invitation/invitation/guest-book/' + idInvitation + '/edit', row.id_invitation_guest_book]">
          <fa-icon class="me-2"
                   [icon]="faPen"></fa-icon>
          {{ 'edit' | translate }} {{ 'guest-book' | translate }} {{ 'invitation' | translate }}
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-9">
      <div class="card border-0 mb-5">
        <div class="card-body p-4">
          <h6 class="mb-4">{{ row.name }}</h6>

          <kb-label class="d-block mb-3">
            {{ 'page.invitation-guest-book.address' | translate }}
            <div kbInput>
              {{ row.address }}
            </div>
          </kb-label>

          <kb-label class="d-block mb-3">
            {{ 'page.invitation-guest-book.no-telp' | translate }}
            <div kbInput>
              {{ row.no_telp }}
            </div>
          </kb-label>

          <kb-label class="d-block mb-3">
            {{ 'page.invitation-guest-book.qr-code' | translate }}
            <div kbInput>
              <img class="img-thumbnail form"
                   [src]="row.qr_code"
                   loading="lazy"
                   [style.width.px]="250"
                   [style.height.px]="250" />
            </div>
          </kb-label>

          <kb-label class="d-block mb-3">
            {{ 'page.invitation-guest-book.confirmation' | translate }}
            <div kbInput>
              <span class="badge badge-status rounded-pill"
                    [ngClass]="[row.getConfirmationBadge()]">
                {{ row.getConfirmation() }}
              </span>
            </div>
          </kb-label>

          <kb-label class="d-block mb-3">
            {{ 'page.invitation-guest-book.total' | translate }}
            <div kbInput>
              {{ row.total_reservation || 'Belum Konfirmasi Kehadiran' }}
            </div>
          </kb-label>

          <div class="text-green-700 mt-4 mb-1">
            {{ 'more-information' | translate }}
          </div>
          <hr class="mt-2 mb-3" />

          <kb-label class="d-block mb-3">
            {{ 'page.invitation-guest-book.send' | translate }}
            <div kbInput>
              <span class="badge badge-status rounded-pill"
                    [ngClass]="[row.getIsSendBadge()]">
                {{ row.getIsSend() }}
              </span>
            </div>
          </kb-label>

          <kb-label class="d-block mb-3">
            {{ 'status' | translate }}
            <div kbInput>
              <span class="badge badge-status rounded-pill"
                    [ngClass]="[row.getIsActiveBadge()]">
                {{ row.getIsActive() }}
              </span>
            </div>
          </kb-label>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card border-0 mb-5">
        <div class="card-body p-4">
          <kb-label class="d-block mb-3">
            {{ 'created-at' | translate }}
            <div kbInput>
              {{ row.getCreatedAt() }}
            </div>
          </kb-label>

          <kb-label class="d-block mb-3">
            {{ 'modified-at' | translate }}
            <div kbInput>
              {{ row.getModifiedAt() }}
            </div>
          </kb-label>
        </div>
      </div>
    </div>
  </div>
</section>