<ng-container *ngIf="vm$ | async as vm">
  <div [formGroup]="vm.formGroup">
    <kb-label class="d-block mb-3"
              [required]="true"
              [invalid]="getFormValidation(vm.formGroup?.controls?.['name']).invalid"
              [invalidText]="getFormValidation(vm.formGroup?.controls?.['name']).text">
      {{ 'page.invitation-guest-book.name' | translate }}
      <input kbInput
             type="text"
             class="form-control"
             [placeholder]="'page.invitation-guest-book.name' | translate"
             formControlName="name">
    </kb-label>

    <kb-label class="d-block mb-3"
              [required]="true"
              [invalid]="getFormValidation(vm.formGroup?.controls?.['address']).invalid"
              [invalidText]="getFormValidation(vm.formGroup?.controls?.['address']).text">
      {{ 'page.invitation-guest-book.address' | translate }}
      <textarea kbInput
                rows="3"
                class="form-control"
                [placeholder]="'page.invitation-guest-book.address' | translate"
                formControlName="address"></textarea>
    </kb-label>

    <kb-label class="d-block mb-3"
              [required]="true"
              [invalid]="getFormValidation(vm.formGroup?.controls?.['no_telp']).invalid"
              [invalidText]="getFormValidation(vm.formGroup?.controls?.['no_telp']).text">
      {{ 'page.invitation-guest-book.no-telp' | translate }}
      <input kbInput
             type="text"
             class="form-control"
             [placeholder]="'page.invitation-guest-book.no-telp' | translate"
             formControlName="no_telp">
    </kb-label>

    <kb-label class="d-block mb-3"
              [required]="true"
              [invalid]="getFormValidation(vm.formGroup?.controls?.['type']).invalid"
              [invalidText]="getFormValidation(vm.formGroup?.controls?.['type']).text">
      {{ 'page.invitation-guest-book.type' | translate }}
      <ng-select kbInput
                 [items]="[{value: 'biasa', label: 'Biasa'}, {value: 'keluarga', label: 'Keluarga'}, {value: 'vip', label: 'VIP'}]"
                 bindValue="value"
                 bindLabel="label"
                 [placeholder]="'page.invitation-guest-book.type' | translate"
                 formControlName="type">
      </ng-select>
    </kb-label>

    <kb-label class="d-block mb-3"
              [required]="true"
              [invalid]="getFormValidation(vm.formGroup?.controls?.['session']).invalid"
              [invalidText]="getFormValidation(vm.formGroup?.controls?.['session']).text">
      {{ 'page.invitation-guest-book.session' | translate }}
      <input kbInput
             type="number"
             class="form-control"
             [placeholder]="'page.invitation-guest-book.session' | translate"
             formControlName="session">
    </kb-label>

    <div class="text-green-700 mt-4 mb-1">
      {{ 'more-information' | translate }}
    </div>
    <hr class="my-2" />

    <kb-label class="d-block mb-3"
              [invalid]="getFormValidation(vm.formGroup?.controls?.['is_active']).invalid"
              [invalidText]="getFormValidation(vm.formGroup?.controls?.['is_active']).text">
      {{ 'status' | translate }}
      <div kbInput
           class="form-check form-switch">
        <input class="form-check-input"
               type="checkbox"
               formControlName="is_active">
      </div>
    </kb-label>
  </div>
</ng-container>